@model List<string>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @{
            var first = true;
        }
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {

                <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
                    <img class="d-block" height="400" width="800" src="@item" alt="...">
                </div>
                first = false;
            }
        }
        else
        {
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>