@using FindATrade.Web.ViewModels.CompanyService;
@model CreateCompanyServiceInputModel

@{
    this.ViewBag.Title = "Add Company Service";
}

<h1>@this.ViewBag.Title</h1>

<hr />

<form method="post" class="col-md-6 ofsset-md-3" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="form-label">Genre</label>
        <select asp-for="CategoryId" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <hr />
    You can add up to 3 Price Packages
    <div id="PackagesContainer">
        <label asp-for="Packages"></label>
        <a class="btn btn-success" onclick="AddMoreIngredients()">+</a>
        <span asp-validation-for="Packages" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="button btn-primary" value="Add" />
</form>



@section Scripts{
    <script>
        //Packages[0].Price
        //Packages[0].Description
        var index = 0;
        function AddMoreIngredients() {
            console.log("AddMoreIngredients()")
            $("#IngredientsContainer")
                .append("<div class='form-control'>Name: <input class='form-control' type='text' name='Packages[" + index + "].Price' /> Descrtiption: <input class='form-control' type='text' name='Packages[" + index + "].Descrtiption' /></div>");
            index++;
        }
    </script>
}