@using FindATrade.Web.ViewModels.Company;
@model EditCompanyViewModel

@{
    ViewBag.Title = "Edit Recipe";
}

<h1>@ViewBag.Title</h1>

<form method="post" class="col-md-6 ofsset-md-3" enctype="multipart/form-data" id="editForm">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Website"></label>
        <input asp-for="Website" class="form-control" />
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Street"></label>
        <input asp-for="Address.Street" class="form-control" />
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.HouseNumber"></label>
        <input asp-for="Address.HouseNumber" class="form-control" />
        <span asp-validation-for="Address.HouseNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.HouseNumberAddition"></label>
        <input asp-for="Address.HouseNumberAddition" class="form-control" />
        <span asp-validation-for="Address.HouseNumberAddition" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.PostalCode"></label>
        <input asp-for="Address.PostalCode" class="form-control" />
        <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.City"></label>
        <input asp-for="Address.City" class="form-control" />
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Country"></label>
        <input asp-for="Address.Country" class="form-control" />
        <span asp-validation-for="Address.Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <hr />
    @foreach (var item in Model.Skills)
    {
        <div class="form-group">
            <label asp-for="Skills"></label>
            <input asp-for="Skills" class="form-control" />
            <span asp-validation-for="Skills" class="text-danger"></span>
        </div>
    }
    <hr />
    <input type="hidden" asp-for="Id" />
</form>
<button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModel">Save Changes</button>

<!-- Modal -->
<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Recipe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to edit "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="editForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>
