@using FindATrade.Web.ViewModels.Company;
@model CompanyOutputModel

@{
    this.ViewBag.Title = Model.Name;
}

<h1>This is customers page</h1>

Title Logo
owner name
rating(reviews)
phone
email
skils
likes



pics
descr
contacts
reviews sumary