@model List<int>;

<h1>Links to waiting accounts</h1>

@foreach (var item in Model)
{
    <a class="btn btn-success text-dark" asp-area="" asp-controller="CompanyService" asp-action="GetSingle" asp-route-id="@item" class="btn btn-primary">See Service</a>
}
