@    using FindATrade.Web.ViewModels.AccountManagement;
    using FindATrade.Web.ViewModels.UserAccount;
@model VettModel

@*<div class="form-check">
    <input class="form-check-input" type="checkbox" value="@Model.IsPassed" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
    </label>
</div>*@

<form method="post" class="col-md-6 ofsset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="IsPassed"></label>
    @Html.CheckBoxFor(m => m.IsPassed, new { @checked = "checked" });

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <input type="submit" class="button btn-primary" />
</form>